venv/
.env*
__pycache__/
*.py[cod]
*.db
*.log
.vscode/
.idea/
.flake8
simulations_results/simulation_results.csv
person/senior/ML/senior_test_features.csv
person/ML/person_test_features.csv
person/ML/synthetic_person_features.csv
charts/
datasets/
person/student/ML/student_test_features.csv
person/student/ML/synthetic_student_features.csv
person/senior/ML/hourly_features.csv
person/senior/ML/generated_features.csv
person/senior/ML/synthetic_senior_features.csv
person/student/ML/trained_models/
person/senior/ML/trained_models/
transport/ev/ML/trained_models/
transport/ev/ML/ev_test_features.csv
transport/ev/ML/synthetic_ev_features.csv
ev_test_features.csv
person/ML/catboost_info/
log.txt
test_charts_
n_p=500_final
simulations_results
datasets
analysis
EnterpriseBuilding/trained_models
EnterpriseBuilding/data
MallBuilding/trained_models
MallBuilding/data
combined_matplotlib.png
profile_stats.txt
tmp.py
model_metrics.csv
enhanced_model
plots.py
simulation
feature_importance_healthy.png
feature_importance_occupation.png
person/ML/trained_models/
feature_importance_socialness.png